/* *{
    box-sizing: border-box;
}
.body{
    width: 100%;
    
}
.header {
    background-color: gray;
    width: 100%;
    margin: auto;
    position: fixed;
}

.logo-img {
    float: left;
    position: relative;
    border-radius: 50%;
    padding-top: 5px;
    margin-left: 10px;
}
.site-name{
    color: skyblue;
    font-size: xx-large;
    position: relative;
    top:36px;
    left: 6px;
    font-family: 'Krona One', sans-serif;
    text-transform: uppercase;
}
.clr{
    clear: both;
}
.nav-bar{
    float: right;
}
.item{
    position: absolute;
    right: 40px;
    bottom: 50px;
    
}


.item li {
    display: inline-block;   
    padding-right: 12px;
    font-family: 'Krona One', sans-serif;
   
}
.item li a{
    text-decoration: none;
}
.item li button{
    border-radius: 20%;
    margin-left: 20px;
}
.footer {
    background-color: gray;
    width: 100%;
    margin: auto;

} */
.infocardContainer * {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
  }
  h2 {
    font-weight: 600; font-style: italic; font-family: "Fira Sans Condensed", sans-serif;
  }
 
  a {
    text-decoration: none;
  }
  a:visited {
    color: #555566;
  }
  a:hover {
    text-decoration: underline;
  }
  .infocardContainer {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 100px;
   
    background: linear-gradient(121deg, rgba(0, 0, 0, 0.514) 13%, rgb(187, 25, 25) 70%);
    transition: all 500ms ease-in;
    transition-delay: 1s;
    margin: auto;
    margin-top: 100px;
    --margin-top: 100px;
  }
  .infocardContainer:hover {
    width: 500px;
    border-radius: 100px 10px 100px 100px;
    transition: all 1s ease-out;
  }
  
  .infocardContainer div {
    flex-shrink: 1;
    width: 100%;
  }
  .infocardContainer div * {
    display: flex;
    --flex: inherit;
    overflow: hidden;
    text-overflow: hidden;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    width: 0;
    height: auto;
    transition: all 450ms ease-in;
    transition-delay: 1s; 
  }
  .infocardContainer:hover div *{
    display: flex;
    visibility: visible;
    transition: all 1s ease-out;
    transition-delay: 500ms;
    width: 100%;
    height: auto;
  }
  
  .infocardContainer #main, .infocardContainer #main img{
    height: 200px;
    width: 200px;
    padding-right: 10px;
    border-radius: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }
  .infocardContainer #main img{
    height: 180px;
    width: 180px;
    transition: none;
    display: float;
    position: relative;
    border: 10px solid rgb(0, 0, 0);
    margin: 0 0 0 0; padding: 0 0 0 0;
  }
  .infocardContainer #textbois {
    position: relative;
  }
  .infocardContainer #textbois #hotlinks {
    max-width: 60%;
    max-height: 30px;
    
    --background-color: white;
    position:absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 13px;
  }
  .infocardContainer #textbois #hotlinks * {
    max-width: 30px;
    --margin: 0 1px 0 1px;
    border-radius: 25px;
  }
  