@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
  box-sizing: border-box;
}

body, html {
   font-family: 'Roboto Slab', serif;
    margin: 0;
  width: 100%;
  height: 100%;
    padding: 0;
}

body {
  background-color: #7a7c7c;
   display: flex; 
  justify-content: center; 
  align-items: center;
}


.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    position: relative;
    top :50px;
    bottom: 90px;

}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('https://avatars.githubusercontent.com/u/61275416?s=460&u=543972ea0be596f6042870e80383f78326836f75&v=4');
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('https://avatars.githubusercontent.com/u/77886317?s=460&u=e0f775975a33b28876c8976bcff8bf2a35ab1175&v=4');
}

.card--3 .card__img, .card--3 .card__img--hover {
    background-image: url('https://avatars.githubusercontent.com/u/48564462?s=460&u=c312017d5b9407a61ae14c863d086402c4d5b10b&v=4');
}
.card--4 .card__img, .card--4 .card__img--hover {
    background-image: url('https://avatars.githubusercontent.com/u/77914804?s=460&u=3e6dc365084f6bcc41b2c36bae64df61999a40d9&v=4');
}
.card--5 .card__img, .card--5 .card__img--hover {
    background-image: url('https://avatars.githubusercontent.com/u/78753771?s=460&u=61263c26afac86bba414d790b8b8b49cb0771008&v=4');
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}


.card__img--hover {
  transition: 0.2s all ease-out; /*to make the movment of the pop uped photo more smother*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {
  margin-right: 25px;
  background-color: #fff;
    width: 33.3%;
  position: relative;
  border-radius: 12px;
  /* overflow: hidden; */
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);/*to make the box pop up when hovering*/
}

.card__info {
  background-color: rgba(255, 255, 255, 0.993);
  border-bottom-left-radius: 12px; /*To add a rounded corners to the profile box form left */
 border-bottom-right-radius: 12px;                /*and rgiht also*/
   padding: 16px 24px 24px 24px;

}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase; /*to make the text uppercase*/
    font-size: 13px;
    letter-spacing: 2px; /*to add a spaces between the letters*/
    font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}


.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;/* to make the background transparent*/
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}
/* @import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.footer{
    background-image: url(banner-3542404_1280.jpg);
        clear: both;
height: 300px; 
    width: 100%;   
    text-align: center;
    color: white;
}
.useful-links{
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    text-align: left;
    color: white;
}
.working-hours{
    margin-top: 30px;
    margin-left: 370px;
    float: left;
}
a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
    float: right;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    color: white;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 30px;
    margin-left: 100px;
    float: left;
    transform: translateX(450px);

}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;

}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:20px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
} */